{{#if listExists}}
    {{#each suggestedChamps}}
            <div>
                <table className="table table-responsive table-bordered">
                    <thead>
                    <tr className="text-primary">
                        <th >Id</th>
                        <th >Producto</th>
                        <th >Precio por unidad</th>
                        <th >Imagen</th>
                    </tr>
                    </thead>
                    <tbody>
                            <tr>
                                <td>{{this.id}}</td>
                                <td>{{this.title}}</td>
                                <td>{{this.price}}</td>
                                <td><img src="{{this.src}}" alt="se esperaba una imagen" /></td>
                            </tr>
                    </tbody>
                </table>
            </div>
    {{/each}}
{{/if}}

