doctype html

html(lang='es')
  body
  
    nav.navbar.navbar-expand-lg.navbar-light
      button.navbar-toggler(type='button', data-toggle='collapse', data-target='#navbarScroll', aria-controls='navbarScroll' aria-expanded='false' aria-label='Toggle navigation')
      span.navbar-toggler-icon
      div.collapse.navbar-collapse
          ul.navbar-nav.navbar-nav-scroll
            li
              a(href="/" ) Inicio
            li
              a(href="/productos") Productos

    table.table.table-striped
      tr
        th Id
        th Title
        th Price
        th Image

      each n in suggestedChamps
        tr
          td= n.id
          td= n.title
          td= n.price
          td
            img(src=n.src)
